.app {
  padding: 50px;
  text-align: center;
}
.header {
  margin-bottom: 40px;
}
.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  width: 400px;
}
.search-btn {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 25px;
}
.f {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fd-c {
  flex-direction: column;
}
.content {
  margin-top: 20px;
}
.tile {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  margin-right: 20px;
}
.tile:last-child {
  margin-right: 0;
}
.container {

}